<section class="opening">
  <h1 class="opening-title">
    <span>ANDI</span>
    <span>❤</span>
    <span>VIKTOR</span>
  </h1>
</section>

<div class="text">
  <p class="text-big">Elérkezett a várva-várt nap,<br>hivatalosan is összekötjük az életünket!</p>
</div>

<div class="date-container">
  <h1 class="date">
    <span>2024 · 10 · 19</span>
  </h1>
</div>
<div class="text">
  <p class="text-big">Már csak</p>
</div>

<!-- Visszaszámláló kezdete -->
<div class="countdown">
  <div class="time-unit">
    <span class="number">{{ days }}</span>
    <span class="label">Nap</span>
  </div>
  <div class="time-unit">
    <span class="number">{{ hours }}</span>
    <span class="label">Óra</span>
  </div>
  <div class="time-unit">
    <span class="number">{{ minutes }}</span>
    <span class="label">Perc</span>
  </div>

</div>
<!-- Visszaszámláló vége -->

<figure class="illustration-container">
  <img class="illustration" ngSrc="/images/illustration_3.jpg" height="636" width="1760">
</figure>

<div class="text">
  <p>
    <a href="https://visitsubotica.rs/hu/mit-latogassunk-meg/szecesszio/gradska-kuca/" target="_blank">
      Szabadkai Városháza
    </a><br>
    Trg Slobode 1<br>
    Nagyterem
  </p>
  <p class="text-big">Bevonulás a terembe<br> 14:45</p>
  <p class="text-big">Szertartás kezdete<br> 15 óra</p>
  <p class="text-big">·········································</p>
</div>

<div class="text">
  <p class="text-big">canapé · aperitif · koktélok<br>16 órától</p>
  <p class="text-big">vacsora<br>19 órától</p>
  <p>
    <a href="https://palic.rs/en/sta-raditi/salas-vinarija/winery-zvonko-bogdan/" target="_blank">
      Zvonko Bogdan borászat
    </a><br>
    Kanizsai út 45, Palics<br>
  </p>
</div>

<figure class="illustration-container illustration-container-small">
  <img class="illustration" ngSrc="/images/illustration_5.jpg" height="360" width="996">
</figure>

<div class="center">
  <p class="text-big">Vendégváró </p>
</div>
<!-- Canape Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Prosciuttós rudak</h2>
        <ul>
          <li>Ropogós rudak prosciuttóba tekerve</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Tonhal tatár kanalakban</h2>
        <ul>
          <li>Friss tonhaltatár elegánsan, kanalakban tálalva</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Gourmet bruschetta</h2>
        <ul>
          <li>Ropogós kenyérszeletek különleges feltétekkel, az olasz bruschetta ínyenc változata.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Kolbászos tekercsek</h2>
        <ul>
          <li>Kolbászos tekercsek</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Crostini házi brandys pástétommal</h2>
        <ul>
          <li>Kiváló crostini házilag készült, gazdag ízű brandys pástétommal</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Crostini céklapürével és pestóval</h2>
        <ul>
          <li>Friss crostini, amelyen céklapüré és pesto találkozik egy harmonikus ízélményért</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <p class="text-big">Koktélok</p>
</div>
<!-- Cocktails Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Espresso Martini</h2>
        <ul>
          <li>Egy kávés alapú koktél, amely vodka, frissen főzött espresso, kávélikőr (általában Kahlúa) és egy kis cukorszirup keveréke. Frissítő és ébresztő.</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Cosmopolitan</h2>
        <ul>
          <li>Vodka alapú koktél, amelyhez Cointreau (narancslikőr), friss lime-lé és áfonyalé társul. Rózsaszínes színű és könnyed, frissítő ízvilágú ital.</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Old Fashioned</h2>
        <ul>
          <li>Klasszikus whisky alapú koktél, amely cukrot, keserűt (bitters), narancshéjat és jeget tartalmaz. Gazdag, fűszeres és testes ízvilága van.</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Kir Royal</h2>
        <ul>
          <li>Egy elegáns koktél, amely pezsgőből és feketeribizli likőrből (Crème de Cassis) készül. Gyümölcsös, enyhén édes.</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Aperol Spritz</h2>
        <ul>
          <li>Frissítő olasz koktél Aperol likőrrel, proseccóval és szódavízzel, narancsszelettel díszítve. Enyhén kesernyés.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Cocktails Menu End -->
<div class="center">
  <p class="text-big">Ital lap</p>
</div>
<!-- Drinks Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Víz</h2>
        <ul>
          <li>Knjaz Miloš 0,33/0,75</li>
          <li>Rosa 0,33/0,75</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Kávé</h2>
        <ul>
          <li>Lavazza espresso</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Tea</h2>
        <ul>
          <li>Ronnefeldt</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Üdítők</h2>
        <ul>
          <li>Coca Cola</li>
          <li>Coca Cola Zero</li>
          <li>Fanta</li>
          <li>Schweppes bitter lemon</li>
          <li>Schweppes tonic water</li>
          <li>Next üdítők - Alma / Áfonya / Narancs</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Energiaitalok</h2>
        <ul>
          <li>Guarana</li>
          <li>Red Bull</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>Sör</h2>
        <ul>
          <li>Stella Artois</li>
          <li>Staropramen</li>
          <li>Jelen</li>
          <li>Heineken</li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="drink-category">
        <h2>Rövid italok</h2>
        <ul>
          <li>Baraba pálinka: Barack/Körte/Birs/Szilva</li>
          <li>Bacardi rum</li>
          <li>Two Fingers tequila</li>
          <li>Absolut/Eristoff vodka</li>
          <li>Dewar's/Johnny Walker Red</li>
          <li>Jack Daniel's</li>
          <li>Baileys</li>
          <li>Sinner gin</li>
          <li>Bombay Sapphire gin</li>
          <li>Vinjak Podrum Palić</li>
          <li>Pelinkovac Podrum Palić</li>
          <li>Jägermeister</li>
          <li>Campari</li>
          <li>Martini Bianco vermut</li>
          <li>Martell VS</li>
        </ul>
      </div>

      <div class="drink-category">
        <h2>A ház borai</h2>
        <ul>
          <li>8 Tamburaša</li>
          <li>Sauvignon Blanc</li>
          <li>Pinot Blanc</li>
          <li>Pinot Grigio</li>
          <li>Chardonnay</li>
          <li>Prosecco</li>
          <li>4 Konja debela</li>
          <li>Život teče</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Drinks Menu End -->
<div class="center">
  <p class="text-big">Előétel</p>
</div>
<!-- Food Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Antipasti tál</h2>
        <ul>
          <li>Olasz előétel, amely különféle hideg falatokból áll, mint olívabogyó, sajtok, szárított paradicsom és különféle felvágottak (például prosciutto).</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Food Menu End -->
<div class="center">
  <p class="text-big">Leves</p>
</div>
<!-- Food Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Gyöngytyúk húsleves</h2>
        <ul>
          <li>Gazdagon fűszerezett leves gyöngytyúkból, amely egyszerre könnyű és ízletes, hagyományos recept alapján készítve.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Food Menu End -->
<!-- Food Menu End -->
<div class="center">
  <p class="text-big">Főétel</p>
</div>
<!-- Food Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Ricottával és spenóttal töltött csirkerolád</h2>
        <ul>
          <li>Csirkemell ricottával és spenóttal töltve, egyszerű, de ízletes fogás, friss alapanyagokból készítve.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Porketta</h2>
        <ul>
          <li>Fűszeres, lassan sült sertéshús, amelyet hagyományosan fokhagymával, rozmaringgal és egyéb aromás fűszerekkel ízesítenek.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Ropogós kéregben sült lazac</h2>
        <ul>
          <li>Kívül ropogós, belül omlós lazacfilé, fűszeres kéregben sütve.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Food Menu End -->
<div class="center">
  <p class="text-big">Köretek</p>
</div>
<!-- Food Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Gombás rizottó</h2>
        <ul>
          <li>Krémes rizottó friss gombákkal.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Grillezett zöldségek</h2>
        <ul>
          <li>Frissen grillezett, enyhén fűszerezett zöldségek.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Gnocchi szárított koktélparadicsom szószban</h2>
        <ul>
          <li>Puhára főtt gnocchi ízletes paradicsomszószban.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Parmezános kéregben sült burgonya</h2>
      </div>
      <div class="drink-category">
        <h2>Sajtos és fűszeres héjas burgonya</h2>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <p class="text-big">Mártogatók és szószok</p>
</div>
<!-- Food Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Gorgonzola szósz</h2>
        <ul>
          <li>Krémes szósz érett gorgonzola sajttal, tökéletes csirkeroládhoz vagy porkettához.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Sáfrányszósz</h2>
        <ul>
          <li>Aromás kísérő, legjobban a ropogós kéregben sült lazachoz illik.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Gombás szósz</h2>
        <ul>
          <li>Gazdag szósz, sertéshúshoz vagy gombás rizottóhoz kiváló.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="center">
  <p class="text-big">Desszert</p>
</div>
<!-- Food Menu Start -->
<div class="drink-menu">
  <div class="drink-menu-columns">
    <div class="column">
      <div class="drink-category">
        <h2>Mini tiramisu</h2>
        <ul>
          <li>Klasszikus olasz desszert kávéval, mascarponéval és kakaóval, kis pohárban tálalva.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Voulez Vous pohárkrém</h2>
        <ul>
          <li>Könnyű és krémes desszert, gyümölcsös vagy csokoládés rétegekkel.</li>
        </ul>
      </div>
      <div class="drink-category">
        <h2>Hazelnut mousse</h2>
        <ul>
          <li>Légies és gazdag hab, intenzív mogyorós ízvilággal.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<figure class="illustration-container">
  <img class="illustration" ngSrc="/images/illustration_4.jpg" height="534" width="1558">
</figure>

<div class="text">
  <p class="optional">A legszebb ajándék a jelenléted a nagy napunkon.</p>
</div>

<figure class="illustration-container illustration-container-small">
  <img class="illustration" ngSrc="/images/illustration_5.jpg" height="360" width="996">
</figure>

<div class="text">
  <p class="text-big">Alig várjuk, hogy<br>együtt osztozhassunk<br>ezen a napon!</p>
</div>

<figure class="illustration-container illustration-container-small illustration-container-final">
  <img class="illustration" ngSrc="/images/illustration_7.jpg" height="508" width="510">
</figure>
