<section class="opening">
  <h1 class="opening-title">
    <span>ANDI</span>
    <span>❤</span>
    <span>VIKTOR</span>
  </h1>
</section>

<div class="text">
  <p class="text-big">Elérkezett a várva-várt nap,<br>hivatalosan is összekötjük az életünket!</p>
</div>
<div class="date-container">
  <h1 class="date">
    <span>2024 · 10 · 19</span>
  </h1>
</div>

<figure class="illustration-container">
  <img class="illustration" ngSrc="/images/illustration_3.jpg" height="636" width="1760">
</figure>

<div class="text">
  <p class="text-big">Szertartás<br> 15 óra</p>
  <p><a href="https://visitsubotica.rs/hu/mit-latogassunk-meg/szecesszio/gradska-kuca/" target="_blank">Szabadkai Városháza</a><br> Trg Slobode 1 · 24000<br> Nagyterem</p>
</div>

<div class="text">
  <p class="text-big">aperitif · vacsora · buli<br>16 órától</p>
  <p><a href="https://palic.rs/en/sta-raditi/salas-vinarija/winery-zvonko-bogdan/" target="_blank">Zvonko Bogdan borászat</a><br> Kanjiški put 45, Palić<br></p>
</div>

<div class="text">
  <p class="optional">A részvételi szándékod és kísérőd jelenlétének megerősítéséhez elegendő,<br> ha visszajelzel nekünk szeptember 30-ig,<br> illetve jelezd különleges étkezési igényeidet is.<br></p>
</div>

<figure class="illustration-container">
  <img class="illustration" ngSrc="/images/illustration_4.jpg" height="534" width="1558">
</figure>

<div class="text">
  <p class="optional">A legszebb ajándék a jelenléted a nagy napunkon.</p>
</div>

<figure class="illustration-container illustration-container-small">
  <img class="illustration" ngSrc="/images/illustration_5.jpg" height="360" width="996">
</figure>

<div class="text">
  <p class="text-big">Alig, várjuk, hogy<br> együtt osztozhassunk<br> ezen a napon!</p>
</div>

<figure class="illustration-container illustration-container-small illustration-container-final">
  <img class="illustration" ngSrc="/images/illustration_7.jpg" height="508" width="510">
</figure>
